/* BASE + RESETS */
*,
p, h1, h2, h3 {
    border: 0;
    margin: 0;
    padding: 0;
}
div, section ,p ,h1 ,h2, h3, span {
  box-sizing: border-box;
  max-height: 999999px;
}
html {
  font-size: 1rem;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  min-height: 100vh;
  overflow: hidden;
  animation-fill-mode: forwards;
    background-position-y: -0.5rem;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
  
  font-family: sans-serif!important;
}

body {
  height: 100vh;
  overflow-y: scroll;
  padding: 0 1rem 0 1rem;
  /* /* min-height: 140vh; */
  /* background-image: url('img/andy-holmes__bk_nou_1.jpg'); */
  background-color: black;
  background-size: cover;
  background-position: left;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#main {
  box-sizing: border-box;
  width: 100%;
  max-width: 60rem;
  padding: 1rem;
  padding-bottom: 10rem;
  border-radius: 1rem;
}

.poza_si_logo_container {
  width: 100%;
  height: 50rem;
}

.poza_si_logo_ {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url('img/NeonTrippyGasMaskV2.png');
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes example {
  0% { opacity: 1;}
  50% { opacity: 0.4;}
  100% { opacity: 1;}
}

@font-face { font-family: Delicious; src: url('dependencies/Metal_Mania/MetalMania-Regular.ttf'); } 

.popup-button {
  height: 3.3rem;
  width: 6.3rem;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 1rem;
  background: #48ee48;
  color: rgb(0, 0, 0);
  border: 0.25rem black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Delicious;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.popup-button-band-members {
  height: 3.3rem;
  min-width: 8.3rem;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 1rem;
  background: #48eaee;
  color: rgb(0, 0, 0);
  border: 0.25rem black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Delicious;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}
.popup-button-band-members.wide-button {
  width: 100%;
}

.band_container-1 {
  /* background-image: url('img/bnd-1.png'); */
  width: 100%;
  /* height: 37rem; */
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center; */
  position: relative;
  display: flex;
  justify-content: center;
}

.band_container-1 > div {
  background-image: url('img/bnd-1.png');
  width: 37rem;
  height: 37rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
  justify-content: space-between;
  padding: 0.2rem;
  border-radius: 1.2rem;
}

.cat-0-band-buttons {
  width: 100%;
}

.cat-1-band-buttons {
  display: flex;
  justify-content: space-between;
}

.cat-2-band-buttons {
  display: flex;
  justify-content: space-between;
}

.cat-3-band-buttons {
  display: flex;
  justify-content: center;
  margin-top: 25rem;
}

.modal-band-member-title {
  font-size: 1.3rem;
}



#album-1 {
  background-image: url('img/IMG-20230802-WA0018.jpg');
  background-size: contain;
  border: none;
  background-repeat: no-repeat;
}

.grid .hide {
  visibility: hidden;
  pointer-events: none;
}



















.band_container-2 {
  /* background-image: url('img/AbstractBlackhole.jpg'); */
  /* background: rgb(108,207,20); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  pointer-events: none;
}

.band_container-2.visible-popup,
.show-warning {
  visibility: visible!important;
  pointer-events: all!important;
}

.band_container-2 > div {
  height: 60vh;
  position: relative;
  width: 34rem;
  border-radius: 0.5rem;
  background: linear-gradient(135deg, rgba(108,207,20,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 50%, rgba(0,168,255,1) 100%);
}


.band_container-2 .grid {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.band_container-2 .grid > div {
  height: 11rem;
  width: 11rem;
  border: 1px solid lightgreen;
  margin: 2rem 2rem;
  flex-grow: 3;
  cursor: pointer;
  user-select: none;
  max-width: 11rem;
}






.close-popup {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 13rem;
  width: 11rem;
  background-image: url('img/popup2.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-popup > div {
  color: white;
  font-family: 'Delicious';
  font-size: 2rem;
  transform: translate(0.5rem, 1.5rem);
  cursor: pointer;
  user-select: none;
}






.band_container-3 {
  /* background-image: url('img/AbstractBlackhole.jpg'); */
  /* background: rgb(108,207,20); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  pointer-events: none;
}

.band_container-3.visible-popup {
  visibility: visible;
  pointer-events: all;
}



.text-of-band-member-actual-text.visible-popup {
  visibility: visible;
  pointer-events: all;
  display: block;
}

.band_container-3 > div {
  height: 95vh;
  position: relative;
  width: 34rem;
  border-radius: 0.5rem;
  background: linear-gradient(135deg, rgba(108,207,20,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 50%, rgba(0,168,255,1) 100%);
}

.close-popup {
  z-index: 3;
  background-image: url('img/popup2.png');
}

.band-text-container {
  max-height: 70vh;
  width: 100%;
  padding: 3rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  overflow-y: auto;
}

.text-of-band-member {

}

.text-of-band-member-actual-text {
  visibility: hidden;
  display: none;
}

.popup-member-img-portrait {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 23vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.popup-member-img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  pointer-events: none;
  background-repeat: no-repeat;
}

.in-progress {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  visibility: hidden;
  background-color: #000000a1;
  user-select: none;
  left: 0;
}

.in-progress-container {
  height: 20rem;
  width: 40rem;
  margin-top: 10rem;
  padding: 5rem;
  background-color: white;
  border: 0.3rem solid #5166ad;
  color: black;
  border-radius: 2rem;
}

.warning-txt {
  font-size: 1.3rem;
}

.close-warning {
  position: absolute;
  top: -4rem;
  right: -3rem;
  font-size: 2rem;
  cursor: pointer;
}




.popup-member-img-portrait-1 {
  background-image: url('img/Alexander-1-EDIT.jpg');
  /* background-position-x: 0rem;
  background-position-y: -1.5rem; */
}
.popup-member-img-portrait-2 {
  background-image: url('img/JackMain.jpg');
  /* background-position-x: -7rem;
  background-position-y: -1rem; */
}
.popup-member-img-portrait-3 {
  /* background-image: url(img/GUTS/Johnny.jpg); */
  background-image: url(img/GUTS/Johnny-zmal.jpg);
  /* background-position-x: -26rem;
  background-position-y: -1rem;
  background-size: auto; */
}
.popup-member-img-portrait-4 {
  background-image: url('img/Alejandro-1.jpg');
  /* background-position-x: 0rem; */
}
.popup-member-img-portrait-5 {
  background-image: url('img/Matthew-1.jpg');
  /* background-position-x: -5rem;
  background-position-y: -1.5rem; */
}
.popup-member-img-portrait-ALL {
  background-image: url('img/logo.png');
  /* background-position-x: 0rem; */
  background-size: contain;
}


.popup-member-img-overlay-1 {
  background-image: url('img/Alexander-1.jpg');
  background-position-x: 0rem;
  background-position-y: 0rem;
  background-size: cover;
  opacity: 0.2;
}
.popup-member-img-overlay-2 {
  background-image: url('img/JackMain0.jpg');
  background-position-x: -16rem;
  opacity: 0.2;
  background-size: cover;
}
.popup-member-img-overlay-3 {
  background-image: url(img/GUTS/Johnny.jpg);
  background-position-x: -22rem;
  opacity: 0.2;
}
.popup-member-img-overlay-4 {
  background-image: url('img/Alejandro-2.jpg');
  background-position-x: -8rem;
  opacity: 0.2;
}
.popup-member-img-overlay-5 {
  background-image: url('img/Matthew-2.jpg');
  background-position-x: -6rem;
  background-size: cover;
  opacity: 0.2;
}
.popup-member-img-overlay-ALL {
  background-image: url('img/NeonTrippyGasMaskV2.png');
  background-position-x: -19rem;
  opacity: 0.2;
}


@media screen and (max-width: 63.9em) and (orientation: portrait) {


  .popup-member-img-portrait {
    background-size: cover;
  }

  
  .popup-member-img-portrait-1 {
    background-image: url('img/Alexander-1-EDIT.jpg');
    /* background-position-x: 0rem;
    background-position-y: -0.5rem; */
  }
  .popup-member-img-portrait-2 {
    background-image: url('img/JackMain.jpg');
    background-position-x: -1rem;
    background-position-y: 0rem;
  }
  .popup-member-img-portrait-3 {
    background-image: url(img/GUTS/Johnny.jpg);
    background-position-x: -15rem;
    background-position-y: -1rem;
    background-size: auto;
  }
  .popup-member-img-portrait-4 {
    background-image: url('img/Alejandro-1.jpg');
    background-position-x: 0rem;
    background-position-y: 2.5rem;
  }
  .popup-member-img-portrait-5 {
    background-image: url('img/Matthew-1.jpg');
    background-position-x: -1rem;
    /* background-position-y: -1.5rem; */
  }
  
  .popup-member-img-overlay-1 {
    background-image: url('img/Alexander-1.jpg');
    background-position-x: 0rem;
    background-size: cover;
    opacity: 0.2;
  }
  .popup-member-img-overlay-2 {
    background-image: url('img/JackMain0.jpg');
    background-position-x: -9rem;
    opacity: 0.2;
  }
  .popup-member-img-overlay-3 {
    background-image: url(img/GUTS/Johnny.jpg);
    background-position-x: -8rem;
    opacity: 0.2;
  }
  .popup-member-img-overlay-4 {
    background-image: url('img/Alejandro-2.jpg');
    background-position-x: -8rem;
    background-size: cover;
    opacity: 0.2;
  }
  .popup-member-img-overlay-5 {
    background-image: url('img/Matthew-2.jpg');
    background-position-x: 0rem;
    background-size: cover;
    opacity: 0.2;
  }
  .popup-member-img-overlay-ALL {
    background-image: url('img/NeonTrippyGasMaskV2.png');
    background-position-x: -6rem;
    background-size: cover;
    opacity: 0.2;
  }

  .in-progress-container {
    width: 35rem;
  }
}











.redirect-links {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  /* padding: 0 2rem; */
  min-height: 5rem;
}

.social-hover {
  height: 3.3rem;
  width: 3.3rem;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: transparent;
  transition: fill 0.1s, background-color 0.1s, border-color 0.1s;
  fill: rgb(0, 0, 0);
}

#youtube {
  fill: #c10000;
  background-color: rgb(255, 255, 255);
}

#facebook {
  fill: #4267B1;
  background-color: rgb(255, 255, 255);
}

#instagram {
  fill: rgb(158, 66, 177);
  background-color: rgb(255, 255, 255);
}

#twit {
  fill: #00acee;
  background-color: rgb(255, 255, 255);
}

#tiktok {
  fill: #000000;
  background-color: rgb(255, 255, 255);
}

#spotify {
  fill: #1DB954;
  background-color: rgb(255, 255, 255);
}

#apple-music {
  fill: #fb425c;
  background-color: rgb(255, 255, 255);
}


.logo_1 {
  position: absolute;
  width: 60rem;
  height: 26rem;
  top: 20rem;
  background-image: url(img/logo.png);
  /* border: 1px red solid; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}


 .close-all span {
  transform: rotate(270deg);
  font-size: 2.2rem;
}


.links-button {
  display: flex;
  background: #ffffff;
  padding: 0.2rem 0.3rem 0.2rem .6rem;
  width: 7.2rem;
  border-radius: 2rem;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 0rem;
}

.links-button div {
  color: black;
  text-decoration: none;
}

.links-button div ~ div {
  margin-top: 0.2rem;
  margin-left: 0.1rem;
}



@media screen and (max-width: 63.9em) and (orientation: portrait) {
  html {
      font-size: 1.5rem;
  }


  .logo_1 {
    width: 93%;
  }
}


















@keyframes ceva {
  0% {transform: translateX(-10.1rem)}
  100% {transform: translateX(0rem)}
}


@media only screen and (orientation: landscape) { 
  @keyframes ceva {
    0% {transform: translateX(-12.5rem)}
    100% {transform: translateX(0rem)}
  }
  .AW-arrows div {
    animation: ceva 2.5s infinite ;
    animation-timing-function: linear;
  }
  #arm-wrestling_wrapper {
    font-size: 2rem;
    height: 3.5rem;
  }

  .AW-arrows {
    width: 13rem;
  }
  .AW-Minimize {
    width: 8rem;
  }
  #arm-wrestling_wrapper.AW-closed {
    width: 21rem;
    height: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (min-width: 59em) and (orientation: landscape) {
  .AW-arrows {
    width: 12.5rem;
  }
}

@media screen and (min-width: 89em) and (orientation: landscape) {
  @keyframes ceva {
    0% {transform: translateX(-12.85rem)}
    100% {transform: translateX(0rem)}
  }
  .AW-arrows {
    width: 16rem;
  }
  .AW-Minimize {
    width: 12rem;
  }
  
  #arm-wrestling_wrapper {
    font-size: 3rem;
    height: 5rem;
  }
}

@media screen and (max-width: 90em) and (orientation: landscape) {
  #arm-wrestling_wrapper.AW-closed {
    width: 14.3rem;
    height: 3.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}


@media screen and (max-width: 63.9em) and (orientation: portrait) {
  .GUTS-Container button {
    font-size: 1.5rem;
  }
}




